.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 500px;
  width: 100%;
  position: relative;

  margin-top: 15px;
}

.c_input {
  position: relative;
  max-width: 250px;
  width: 100%;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: #909090;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: start;

  position: absolute;
  user-select: none;
  pointer-events: none;

  bottom: 20px;
  left: 0;
  transition: 0.3s;

  width: 100%;
}

.c_input input:focus-within + label,
.c_input input:valid + label {
  bottom: 40px;
  transition: 0.3s;
  font-size: 13px;
  color: #4a80bb;
}

input {
  padding: 10px 5px 0 0;
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;

  outline: none;
  border-bottom: 2px solid #415b76;

  width: 100%;
}

button {
  border-radius: 2px;
  padding: 10px;
  border: none;
  background: #415b76;
  color: #fff;
  cursor: pointer;

  max-width: 250px;
  width: 100%;
}
